
    body {
        font-family: Arial;
        background-color: white;
        color: black;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    header, .menu, footer {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        text-align: center;
        font-weight: bolder;
        background-color: lightsteelblue;
    }

    .navegacion1, .navegacion2, section, aside {
        text-align: center;
        font-weight: bolder;
        background-color: lightsteelblue;
    } 

    .cabecera {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .menu {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .navegacion1 {
        float: left;
        margin-left: 2%;
        margin-bottom: 1.5%;
        width: 14%;
        padding-top: 14%;
        padding-bottom: 14%;
    }

    .navegacion2 {
        float: right;
        margin-right: 2%;
        width: 80%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .contenido {
        float: left;
        margin-left: 2%;
        margin-top: 1.5%;
        width: 56%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .publicidad {
        float: right;
        margin-right: 2%;
        margin-top: 1.5%;
        width: 22%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .pie {
        clear: both;
        padding-top: 2%;
        padding-bottom: 2%;
    }


@media (min-width: 700px) and (max-width: 1199px) {
    body{
        font-family: 'Calibri';
        font-size: 18px;
    }

    .navegacion2 {
        display: none;
    }

    .contenido {
        float: left;
        width: 80%;
        margin-top: 0%;
        padding-top: 14%;
        padding-bottom: 14%;
    }

    .publicidad {
        clear: both;
        width: 96%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 699px) {
    body {
        font-family: 'Times New Roman';
        font-size: 16px;
    }

    .navegacion1, .navegacion2, .publicidad {
        clear: both;
        width: 96%;
        margin-bottom: 1.5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .contenido {
        clear: both;
        width: 96%;
        margin-bottom: 1.5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}