/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-size: 1em;
    background-color: #f5f5f5;
    color: #333;
    font-family: "Lato", sans-serif;
}

/* Estilos de la cabecera */
.cabecera {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #C8CDD5;
}

.cabecera img {
    width: 100%;
    height: auto;
    display: block;
    mask-image: linear-gradient(to right, transparent 0%, lightgray 10%, lightgray 90%, transparent 100%);
}

/* Estilos de los textos */
p {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #C8CDD5;
    position: static;
}

nav .logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --nav-height: 70px;
}

nav.menu {
    position: sticky;
    top: 0;
    z-index: 1000;;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 20px 60px;
}

.navegacion a:hover {
    background-color: #6F99C0;
    color: white;
}


/* Estilos para el pie de página */
footer {
    background-color: #C8CDD5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    min-height: 200px;
}

.mapa {
    flex: 1;
    max-width: 300px;
    align-self: flex-start;
}

.mapa iframe {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.politicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 1em;
    margin-bottom: 8px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.redes-sociales a img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.redes-sociales a img:hover {
    transform: scale(1.5)
}

/*main - ofertas y info supermercado*/
.ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

.caja {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.caja-cuerpo {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.caja:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.info-supermercado {
    background: #fafafa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}



/* Estilos del formulario */
.formulario {
    width: 35%;
    margin: 50px auto;
    padding: 20px;
    background: #CCE1E6;
    border-radius: 10px;
    font-family: "Lato";
    font-size: 1.2em;
    line-height: 1.4;
}

.formulario fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.formulario legend {
    text-align: center;
    font-size: 1.25em;
    font-weight: bolder;
    margin-bottom: 14px;
    display: block;
}

/* Etiquetas y entradas */
.formulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid white;
    border-radius: 8px;
    background: #fbfbfb;
    font-size: 1em;
}

/* Textarea */
.formulario textarea {
    min-height: 150px;
    resize: vertical;
}

/* Checkbox en línea */
.formulario .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    font-weight: 500;
}

/* Botón */
.formulario button[type="submit"] {
    padding: 10px 16px;
    background: lightskyblue;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}




/* Estilos para tablas */
table {
    width: 100%;
    max-width: 1500px;
    margin: 24px auto;
    border-collapse: collapse;
    background: #CCE1E6;
    font-size: 1em;
    color: black;
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
    border: none;
}

table caption {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding: 12px 16px;
    color: #45454B;
    background: transparent;
    caption-side: bottom;
}

/* Cabecera */
table th {
    text-align: center;
    padding: 12px 16px;
    background: #f2f4f6;
    color: #45454B;
    font-weight: 700;
}

/* Celdas */
table td {
    padding: 12px 16px;
    color: #444;
    text-align: center;
}

table tr:first-child th {
    background: #93BFCC;
}

table tr:nth-child(even) td {
    background: #fcfcfd;
}

table tr:hover td {
    background: #6F99C0;
}

table tr:last-child td {
    border-bottom: none;
}
